body {
  margin-top: 10px;
  height: 100vh;
}

.main-container {
  height: 100vh;
  background-color: #ecd5d9;
  margin: 0 auto;
  padding-top: 1%;
  font-size: 1vmax;
}

.cursor {
  cursor: pointer;
}

.footer {
  bottom: 0;
  width: 100%;
  display: block;
  height: 9vh;
  text-align: center;
  align-items: center;
  justify-content: center;
  background: rgba(182, 134, 142, 0.979);
  color: rgb(0, 0, 0);
  font-weight: 500;
  font-size: 20px;
}

h1 {
  font-size: 70px;
  color: rgb(19, 18, 18);
}

input {
  border-radius: 20px 20px 20px 20px;
  padding-left: 1rem;
}

.title {
  width: 100%;
  text-align: center;
  margin-top: 15px;
  color: rgba(182, 134, 142, 0.979);
  letter-spacing: 0.3em;
  font-size: 2vw;
  font-weight: normal;
  text-transform: uppercase;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
}
/* Add Post & Edit Post */
#submit{
  float: right;
  background-color: rgb(217 165 174);
  border-color:rgb(183, 136, 144) ;
  height: 35px;
  width: 95px;
  text-align: center;
}
#imagepath{
  width: 228px;
}
#submit:hover{
  background-color: rgb(183, 136, 144);
}
#Add-post{
  background-color: #dfd8dc !important;
}
/* Admin */
.shadow-sm{
  background-color:#dfd8dc ;
}
.admin{
  margin-top: 123px;
}
/* Header */
.nav-link a {
  font-size: 20px;
  margin-right: 0 !important;
  padding: 0px 25px !important;
  text-decoration: none;
  color: black  !important;
}
.dropdown-toggle {
  color: rgb(0, 0, 0);
}
/* Settings - Admin */
.demo-choose-skin {
  list-style: none;
  padding-left: 0;
  display: flex;
  overflow: scroll;
}
.default {
background-color: #b78890;
}
.red {
background-color: #f44336;
}
.purple {
background-color: #9c27b0;
}
.deep-purple {
background-color: #673ab7;
}
.indigo {
background-color: #3f51b5;
}
.blue {
background-color: #2196f3;
}
.light-blue {
background-color: #03a9f4;
}
.cyan {
background-color: #00bcd4;
}
.teal {
background-color: #009688;
}
.green {
background-color: #4caf50;
}
.light-green {
background-color: #8bc34a;
}
.lime {
background-color: #cddc39;
}
.yellow {
background-color: #ffe821;
}
.amber {
background-color: #ffc107;
}
.orange {
background-color: #ff9800;
}
.deep-orange {
background-color: #ff5722;
}
.brown {
background-color: #795548;
}
.grey {
background-color: #9e9e9e;
}
.blue-grey {
background-color: #607d8b;
}
.black {
background-color: #000000;
}
.pink {
background-color: #e91e63;
}
.demo-choose-skin li div {
width: 24px;
height: 24px;
display: inline-block;
border-radius: 3px;
}
.demo-choose-skin li{
  margin: 20px;
  cursor: pointer;
  display: block;
}
/* Login */
.wrapper {
  max-width: 350px;
  min-height: 500px;
  margin: 80px auto;
  padding: 40px 30px 30px 30px;
  background-color: #ecf0f3;
  border-radius: 15px;
  box-shadow: 13px 13px 20px #cbced1, -13px -13px 20px #fff;
}

.logo {
  width: 80px;
  margin: auto;
}

.logo img {
  width: 100%;
  height: 69px;
  object-fit: cover;
  border-radius: 50%;
  box-shadow: 0px 0px 3px #5f5f5f, 0px 0px 0px 5px #ecf0f3, 8px 8px 15px #a7aaa7,
    -8px -8px 15px #fff;
}

.wrapper .name {
  font-weight: 600;
  font-size: 1.4rem;
  letter-spacing: 1.3px;
  padding-left: 10px;
  color: #555;
}

.wrapper .form-field input {
  width: 92%;
  display: block;
  border: none;
  outline: none;
  background: none;
  font-size: 1.2rem;
  color: #666;
  padding: 10px 15px 10px 10px;
}

.wrapper .form-field {
  padding-left: 10px;
  margin-bottom: 20px;
  border-radius: 20px;
  box-shadow: inset 8px 8px 8px #cbced1, inset -8px -8px 8px #fff;
}

.wrapper .form-field .fas {
  color: #555;
}

.wrapper .btn {
  box-shadow: none;
  width: 100%;
  height: 40px;
  background-color: #7a7c7e;
  color: #fff;
  border-radius: 25px;
  box-shadow: 3px 3px 3px #b1b1b1, -3px -3px 3px #fff;
  letter-spacing: 1.3px;
}

.wrapper .btn:hover {
  background-color: #d989b6;
}

.wrapper a {
  text-decoration: none;
  font-size: 0.8rem;
  color: #686868;
}

.wrapper a:hover {
  color: #d989b6;
}
.message {
  font-size: 15px;
   text-align: center;
}
@media (max-width: 380px) {
  .wrapper {
    margin: 30px 20px;
    padding: 40px 15px 15px 15px;
  }
}



